<div class="container" setBackground>
  <p>This is a demo HTML Content to understand custom attribute</p>
</div>


<div appHighlight appHover>
  <p>This is a demo HTML Content to understand custom attribute</p>
</div>

<div class="container" [appBetterhighlight]="'red'" [defaultColor]="'green'" >
  <p>This is a demo HTML Content to understand custom attribute</p>
</div>

<div [appClass]="{container:true,'change-font':true}">
  <p>This is a demo html content to undertand how to craete custom</p>
</div>

<div class="container" [appStyle] ="{backgroundColor:active?'red':'green',color:'white',fontweight:'bold'}">
  <p>This is a demo html content to undertand how to craete custom</p>
</div>

<button class="btn btn-notice" (click)="DisplayNotice()">Show More</button>

<!--<div class="info-container notice" *ngIf="display";else myVar>
  <h3>This is important notice!</h3>
  <p>This is a demo html content to undertand how to craete custom</p>
</div>
<ng-template #myVar>
<p>this is a good</p>
</ng-template>-->
<ng-template [ngIf]="display" [ngIfElse]="myVar"> 
  
<div class="info-container notice" >
  <h3>This is important notice!</h3>
  <p>This is a demo html content to undertand how to craete custom</p>
</div>

</ng-template>

<ng-template #myVar>
  <p>this is a good</p>
  </ng-template>


  <div class="container" [ngSwitch]="occupation">
    <p *ngSwitchCase="'teacher'">Teacher</p>
    <p *ngSwitchCase="'law'">Law</p>
  </div>